﻿@model IEnumerable<EGreetingAdmin.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" style="height: 60px; width: 60px; object-fit: cover"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTitle)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Url">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Url">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Url">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
