﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="margin-top: 30px">
    <div class="col-md-4">
        <label class="control-label">Select date</label>
        <input type="date" name="selectDate" id="selectDate" class="form-control" value=""/>
    </div>
</div>
<div class="row" style="margin-top: 30px" id="dashboard-row">
    <div class="col-sm-3">
        <div class="jumbotron" style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Total transaction</h3>
            <p id="total-transaction">0</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Unpaid transaction</h3>
            <p id="unpaid-transaction">0</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Paid transaction</h3>
            <p id="paid-transaction">0</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Reject transaction</h3>
            <p id="reject-transaction">0</p>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Total schedules</h3>
            <p id="total-schedule">0</p>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Done schedules</h3>
            <p id="done-schedule">0</p>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="jumbotron"  style="padding-right: 0; padding-left: 0; text-align: center">
            <h3>Process schedules</h3>
            <p id="process-schedule">0</p>
        </div>
    </div>

</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
}