﻿@model IEnumerable<EGreetingAdmin.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusTitle)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-type="paid">Paid</a> |
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-type="unpaid">Unpaid</a> |
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-type="reject">Reject</a> |
            </td>
        </tr>
}
    </tbody>
</table>
