﻿@using EGreetingAdmin.DataTransferObjects
@using Newtonsoft.Json
@model EGreetingAdmin.DataTransferObjects.UserDto

@{
    ViewData["Title"] = "Login";
    bool hasOld = false;
    UserDto oldDto = null;
    string oldDtoStr = TempData["old_user"] as string;
    if (oldDtoStr != null)
    {
        hasOld = true;
        oldDto = JsonConvert.DeserializeObject<UserDto>(oldDtoStr);
    }
}

<h2>Login</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (hasOld)
        {
            <div class="alert alert-danger">Invalid username or password</div>
        }
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@if (hasOld)
                                                                      {@oldDto.Username
                                                                      }"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" value="@if (hasOld)
                                                                                      {@oldDto.Password
                                                                                      }"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
