﻿@model IEnumerable<EGreetingAdmin.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToEmails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusTitle)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            @foreach (var email in item.ToEmails)
            {
                <div>
                    @email
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTitle)
        </td>

    </tr>
}
    </tbody>
</table>
